<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    - These are the database connection strings, edit them according to your
    - connection (the provider should remain the same, unless you use an SQL server
    - other than Microsoft's to which you may need to find out the reference).
    
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Data Source=DESKTOP-69H4RNB;Initial Catalog=ehbdatabase;Integrated Security=True;Pooling=False"/>
  </appSettings>-->
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>